*{
    margin: 0;
    padding: 0;
    background-color: #D5E1EF;
}

body{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 499px;
    padding-left: 560px;
    padding-right: 560px;
    margin-top: 230.5px;
    margin-bottom: 230.5px;
}

.img {
    border-radius: 10px;
}